extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Justin A. Jones
        p Full Stack Developer
        .about-bio       
          p Highly skilled and organized professional web developer with 2 years of experience building complex web applications, using modern JavaScript frameworks such as React and Express.      

      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Node.js
          li SQL
          li RESTful APIs
          li React
          li Express
          li Sequelize
          li Axios
          
          
        h6 LINKS
        a.btn-link(href='https://www.linkedin.com/in/justin-jones-68677a214/') LinkedIn
        a.btn-link(href='https://github.com/jjones254') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back