extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        div.fullstack-title-image
          p Full Stack Engineer
          img.fullstack-image(src='/static/images/full-stack-logo.png', alt='full stack logo')
        img.bio-image(src='/static/images/desk-setup.jpeg', alt='desk setup')      

      .skills-contact-box.box
        h6 Skills
        img.skills-image(src='/static/images/skills-image.png', alt='skill logos')
        a.btn-link(href='https://www.justinjones.io' target="_blank") Personal Site  
        a.btn-link(href='https://www.linkedin.com/in/justin-jones-68677a214/' target="_blank") LinkedIn
        a.btn-link(href='https://github.com/jjones254' target="_blank") GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back