extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Justin A. Jones
        p Full Stack Web Developer
        .about-bio       
          p Highly skilled and organized professional web developer with 2 years of experience building full stack web applications.
        img.bio-image(src='/static/images/desk-setup.jpeg', alt='desk setup')      

      .skills-contact-box.box
        h6 Skills
        img.skills-image(src='/static/images/skills-image.png', alt='skill logos')
        a.btn-link(href='https://www.justinjones.io') Personal Site  
        a.btn-link(href='https://www.linkedin.com/in/justin-jones-68677a214/') LinkedIn
        a.btn-link(href='https://github.com/jjones254') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back