extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Justin Jones
        p Full Stack Web Developer
        .about-bio       
          p I'm a legit tech enthusiast and problem solver. I enjoy coding, gaming, investing and family time.      

      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li React
          li Node.js
          li Express
          li SQL
          li RESTful APIs
          li GitHub
          li VS Code
          
        h6 Contact Info
        ul
          li justinjones254@gmail.com
        a.btn-link(href='https://www.linkedin.com/in/justin-jones-68677a214/') LinkedIn
        a.btn-link(href='https://github.com/jjones254') GitHub
        a.btn-link(href='https://twitter.com/JJones254_') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back