extends layout.pug

block content

  article.portfolio-intro
    div.hello-world-title-image 
      h1 Hello, World!
      img.hello-world-image(src='/static/images/hello-world-image.png', alt='laptop with globe on screen')

  article.portfolio-project-thumbs
    .projects-box.box.grid  
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.preview_img}`, alt='Thumbnail')
            h5= `${project.project_name}`

