extends layout.pug

block content

  article.portfolio-intro 
    h1 Hello, World!
    p These are some of the things I've been learning.

  article.portfolio-project-thumbs
    .projects-box.box.grid  
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.preview_img}`, alt='Thumbnail')
            h5= `${project.project_name}`

